@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

:root {
  --primary-white: #fff;
  --primary-orange: #E49C40;
  --primary-yellow: #FAE056;
  --primary-dark: rgb(33,37,41);
}

body {
  font-family: 'Roboto Condensed', sans-serif;
}

/* Navbar */
.logo {
  height: 3rem;
}

.logo:hover {
  opacity: 0.5;
}

/* menu link */
nav a.nav-link {
  font-weight: 300;
  letter-spacing: 0.1rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  color: var(--primary-white) !important;
  border-bottom: 0.1875rem dashed var(--primary-dark);
}

.navbar-brand {
  max-width: 17.25rem;
  padding: 0.5rem !important;
}

.navbar-nav > li > a:hover {
  border-bottom: 0.1875rem dashed rgba(250,224,86, 0.8);
}